.table {
  width: 60rem;
  border-collapse: collapse;
  margin-top: 4rem;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #0e7490;
}

.table td:hover {
  background-color: #06b6d4;
  cursor: pointer;
  color: #f1f5f9;
}
